<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>ParameterCountFilter</filter-name>
        <filter-class>de.wpsverlinden.javaservletfilterexamples.request.ParameterCountFilterTest</filter-class>
        <init-param>
            <param-name>min</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>max</param-name>
            <param-value>1</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ParameterCountFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
    </filter-mapping>
</web-app>
